html {
    font-size: 16px;
}

ul, li {
    list-style: none;
    padding-left: 5px;
}

h1, h4, h5 {
    margin: 0;
}

/* Main Style */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

hr {
    width: 30%;
    margin: 50px 0;
}

/* Header and Navigation */

header {
    height: 25vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation {
    display: flex;
    column-gap: 100px;
    padding: 20px;
    border-bottom: 1px solid #374A67;
}

.navigation a,
li a {
    text-decoration: none;
    display: inline-block;
    position: relative;
    color: #374A67;
    font-weight: 600;
    transition: top 1s linear, left 1s linear, color 0 none;
}

.navigation a:hover,
li a:hover {
    top: 2px;
    left: 2px;
    color: #9e7b9b;
    letter-spacing: 1px;
}

/* Home Section */

.intro {
    width: 100vw;
    margin: 9.3rem 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
    column-gap: 30px;
}

.profile-pic {
    width: 47%;
    display: flex;
    justify-content: flex-end;
}

.profile-pic img {
    border-radius: 100%;
}

.bio {
    width: 47%;
    display: flex;
    flex-direction:  column;
    justify-content: center;
}

.bio h1 {
    font-size: 2.5em; /* 1 em = 16 px => 2.5em = 40px*/
    margin: 10px 0;
}

.bio h4 {
    font-size: 1.5em; /* 1.5em = 24px*/
    margin-top: 20px;
}

.bio h5 {
    font-size: 1.2em;
    margin-top: 20px;
}

.bio img {
    margin-top: 20px;
}


/* Container Section */

.container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.container ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.container > h1 {
    font-size: 2.5em;
    margin-bottom: 40px;
}

.container ul li {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    column-gap: 50px;
}

.container .project-list {
    flex-direction: row;
    justify-content: space-evenly;
}

.container ul .card {
    align-items: center;
    row-gap: 20px;
    padding: 10px;
    width: 25%;
    border: 1px solid black;
}

.card .description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card .description p {
    text-align: justify;
    width: 75%;
}

.description p:last-child {
    text-align: center;
}

/* Contact Form */

form {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 20px;
    border: 1px solid black;
    padding: 50px;
    margin: 0 10px;
}

form label {
    display: flex;
    width: 100%;
    flex-direction: column;
    row-gap: 5px;
}

form input,
form textarea {
    width: 100%;
}

form input[type="submit"] {
    width: 30%;
    align-self: center;
}

/* Footer */


footer .social-links {
    flex-direction: row;
    width: 100%;
    align-self: flex-end;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 30px;
}

footer .social-links li {
    align-items: center;
    width: fit-content;
}

li a {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Responsiveness */

@media screen and (max-width: 750px) {
    
    header {
        display: none;
    }

    .intro {
        margin: 2rem 0;
    }
}

@media screen and (max-width: 660px) {
    
    .intro {
        height: auto;
    }

    .container .project-list {
        flex-direction: column;
        align-items: center;
        row-gap: 10px;
    }

    .container .project-list li {
        width: 80%;
    }

    .profile-pic {
        width: 100%;
        justify-content: center;
        padding: 50px 0;
    }
    
    .bio {
        width: 100%;
        align-items: center;
    }
    .bio h1 {
        font-size: 1.8em;
    }
}

@media screen and (max-width: 620px) {
    .title {
        flex-direction: column;
    }
}